body {
    font-family: Arial, Helvetica, sans-serif
}

.title {
    font-weight: lighter;
    font-size: 60px;
    margin: 20px 0;
    max-width: 1100px;
}

.main-img {
    box-shadow: 0px 2px 5px lightgray;
    width: 100%;
    max-width: 550px;
}

.container {
    display: flex;
}

.left-column {
    margin: 25px;
}

.right-column {
    margin: 25px;
    flex: 1;
    font-size: 27px;
}

.intro {
    font-weight: bold;
}

.breadcrumbs {
    color: #565959;
}
